<!-- SWAMI KARUPPASWAMI THUNNAI -->

<!DOCTYPE html>
<html>
<head>
	<title>Mrida Malware Analysis Console</title>
</head>
<body>
	<h1 id="mrida">Mrida Malware Analysis Console</h1>
	<hr/>
	<p>An opensource antivirus implementation - Successor of CyberGod KSGMPRH</p>
	<p>Mrida is an open source antivirus implementation which uses YARA to detect malicious programs. It is programmed using C++ 14.</p>
	<h1 id="requestiong-to-scan-a-threat-">Requestiong to scan a threat with YARA signatures:</h1>
	<pre>
		<code class="lang-python">
			import requests
			r = requests.post("http://127.0.0.1:5660/scan_file_for_yara", data={"file": "D:/test.eicar"})
			r.json()
		</code>
	</pre>
	<h3 id="output-">OUTPUT:</h3>
	<pre><code class="lang-json">{
	  <span class="hljs-attr">"detections"</span>: [
	    {
	      <span class="hljs-attr">"author"</span>: <span class="hljs-string">"Visweswaran"</span>,
	      <span class="hljs-attr">"description"</span>: <span class="hljs-string">"BOT"</span>,
	      <span class="hljs-attr">"name"</span>: <span class="hljs-string">"bot"</span>
	    },
	    {
	      <span class="hljs-attr">"author"</span>: <span class="hljs-string">"UNKNOWN AUTHOR"</span>,
	      <span class="hljs-attr">"description"</span>: <span class="hljs-string">"EXAMPLE - 1"</span>,
	      <span class="hljs-attr">"name"</span>: <span class="hljs-string">"example"</span>
	    }
	  ],
	  <span class="hljs-attr">"message"</span>: <span class="hljs-literal">true</span>
	}
	</code></pre>
	<p>The antivirus makes use of the following opensource libraries:</p>
	<ol>
	<li><a href="https://github.com/VirusTotal/yara">YARA by VirusTotal</a></li>
	<li><a href="https://github.com/avast/yaracpp">YARA wrapper for C++ by Avast</a></li>
	<li><a href="https://github.com/nlohmann/json">JSON for C++ by Niels Lohmann</a></li>
	<li><a href="https://github.com/yhirose/cpp-httplib">HTTP library for C++ by yhirose</a></li>
	</ol>

</body>
</html>